/* estilos.module.css */

.main-content {
    padding: 20px;
    text-align: center;
  }
  
  .styles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .style-item {
    margin: 20px;
    width: 30%;
  }
  
  .style-item h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .style-item p {
    font-size: 1rem;
    color: #555;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  
  .footer p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
  }
  
  .info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .info-section div {
    max-width: 200px;
    flex: 1;
  }
  
  .info-section p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
  }
  
.info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 20px;
    text-align: center;
  }
  
  .info-section div {
    max-width: 200px; /* Limita a largura das divs */
    flex: 1;
  }
  
  .info-section img {
    max-width: 30%; /* Garante que a imagem se ajuste ao tamanho da div */
    height: auto; /* Mantém a proporção das imagens */
    border-radius: 8px; /* Adiciona borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve para um efeito visual */
  }
  
  .info-section p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
  }
  